.button {
    width: 3rem;
    height: 1rem;
    margin-right:0.5rem;
}

.simon {
    display: flex;
}

.button[data-color="blue"] {
    background: blue;
}

.button[data-color="red"] {
    background: red;
}

.button[data-color="yellow"] {
    background: yellow;
}

.button[data-color="green"] {
    background: green;
}