html {
  font-size: calc(16px + 2vw);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.simon {
  position: relative;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  overflow: hidden;

  border: 0.5rem solid black;
  background: black;
}

.title {
  font-family: 'Dhurjati', sans-serif;
  color: white;
  margin: 0;
  font-size: 2.5rem;
}

.button {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  width: 6rem;
  height: 6rem;
  margin: 0.5 rem;
  /*  box-shadow: inset -2px -1px 24px -1px rgba(255, 255, 255, 1);
*/
}

.centralArea {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: black;
  z-index: 2;
  flex-direction: column;
}

.button[data-color="red"] {
  background: red;
  top: 0;
  right: 0;
}

.button[data-color="green"] {
  background: green;
  top: 0;
  left: 0;
}

.button[data-color="yellow"] {
  background: yellow;
  bottom: 0;
  left: 0;
}

.button[data-color="blue"] {
  background: mediumblue;
  bottom: 0;
  right: 0;
}

.button.active {
  opacity: 1;
}

#display {
  font-family: 'Orbitron', monospace;
  font-size: 0.8rem;
  background: orangered;
  opacity: 0.7;
  width: 1rem;
  height: 1rem;
  box-shadow: 0px 3px 1px 1px darkred inset;
  text-align: right;
  margin:0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
