.button {
    width: 8rem;
    height: 5rem;
    margin-right:0.5rem;
}

.simon {
    display: flex;
}
.button {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}
.button[data-color="blue"] {
    background: blue;
}

.button[data-color="red"] {
    background: red;
}

.button[data-color="yellow"] {
    background: yellow;
}

.button[data-color="green"] {
    background: green;
}

.button.active {
    opacity:1;
}